<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("content", false)
</head>
<body>
<div class="container">
    <div class="menu-lateral">
        <ul class="menu-lateral-ul">
            <li class="menu-lateral-logo"><div class="menu-lateral-logo-text">Projeto Teste</div></li>
            <li><a href="@Url.Action("AlunoHorario", "Grafico")"><span class="menu-lateral-opcao">Graficos</span> </a></li>
            <li><a href="@Url.Action("Index", "Aluno")"><span class="menu-lateral-opcao">Alunos</span> </a></li>
            <li><a href="@Url.Action("Index", "Cidade")"><span class="menu-lateral-opcao">Cidades</span> </a></li>
            <li><a href="@Url.Action("Cidades", "Cidade")"><span class="menu-lateral-opcao">Cidades e Alunos</span> </a></li>
        </ul>
    </div>
    <div class="conteudo">
        <div class="barra-topo">
            <div class="barra-top-menu">
                <a href="@Url.Action("LogOff", "Usuario")"><span>LogOff</span> </a>
            </div>
        </div>
        
        

        @RenderBody()

        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
